@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

@import "tailwindcss";
@import "./typography.css" layer(components);
@variant dark (&:where(.dark, .dark *));

:root {
  color-scheme: light dark;
  font-family: "Roboto Slab", serif;
}

.dark {
  color-scheme: dark;
}

.light {
  color-scheme: light;
}

a span {
  color: rgb(228, 228, 228);
}

a span:hover {
  color: rgb(139, 139, 139);
}

@variant dark {
  &:where(.dark, .dark *) {
    @slot;
  }

  @media (prefers-color-scheme: dark) {
    &:where(.system, .system *) {
      @slot;
    }
  }
}

@theme {
  --color-bg: var(--color-neutral-50);
  --color-link: oklch(46.97% 0.2734 267.56);
  --color-muted-text: var(--color-neutral-700);

  --color-dark-bg: var(--color-neutral-950);
  --color-dark-link: oklch(73.9% 0.1387 282.47);
  --color-dark-muted-text: var(--color-neutral-300);
}

/* ensure .link and typography.css are consistent */
.link {
  --prose-link-color: var(--color-link);
  --prose-link-underline-color: var(--color-link);

  color: var(--prose-link-color);
  font-weight: var(--font-weight-semibold);
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-color: var(--prose-link-underline-color);
  text-decoration-thickness: 1px;

  & code {
    font-weight: var(--font-weight-semibold);
  }
}

.dark .link {
  --prose-link-color: var(--color-dark-link);
  --prose-link-underline-color: var(--color-dark-link);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "EB Garamond", serif;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 30px;
}

.resaltado {
  background-color: rgb(245, 241, 43);
  padding: 1px 4px;
  color: black;
}

#map {
  height: 480px;
}