---
import BaseLayout from "@/layouts/BaseLayout.astro";

import Introduction from "@/components/Introduction.astro";
import Posts from "@/components/Posts.astro";
import Projects from "@/components/Projects.astro";
import SeoPage from "@/components/SeoPage.astro";
import SocialLinks from "@/components/SocialLinks.astro";
---

<BaseLayout>
    
    <SeoPage slot="head" />
    <div>
        <div id="map"></div>
        <ul>
            <li
                onclick="seleccionarCamino( { lat: -40.857384517354674, lng: -71.61443620920183 })"
            >
                <b>Huella Andina: Tramo 7: </b>
                <p>
                    VILLA TRAFUL - CERRO BAYO - Etapa 23: Bosque Arrayanes -
                    Angostura
                </p>
            </li>
            <li onclick="seleccionarCamino({lat: -41.094165595142165,lng:-71.54464284476222})">
                <b>Cerro Lopez: refugio lopez</b>
                <div class="flex h-auto">
                    <img
                        class="m-1 w-50 "
                        src="/CerroLopez/20180112_134326.jpg"
                        class="zoom"
                        alt=""
                        srcset=""
                    />
                    <img
                        class="m-1 w-50 "
                        src="/CerroLopez/20180112_134715.jpg"
                        class="zoom"
                        alt=""
                        srcset=""
                    />
                </div>
            </li>
            <li
                onclick="seleccionarCamino( { lat: -41.283481516879256,lng: -71.51681721210481})"
            >
                <b>Sendero Laguna Llum - mirador isla corazon: </b>
                <p>Tramo que hicimos en familia</p>
                <div class="flex">
                    <img
                        class="m-1 w-50"
                        src="/Llum/IMG_20240204_124222.jpg"
                        class="zoom"
                        alt=""
                        srcset=""
                    />
                    <img
                        class="m-1 w-50"
                        src="/Llum/IMG_20240204_124731.jpg"
                        class="zoom"
                        alt=""
                        srcset=""
                    />
                </div>
            </li>
        </ul>
    </div>
    <style>
        .flex{
            display: flex;
        }
        .w-50 {
            width: 50% !important;
            margin: 1%;
        }
    </style>
    <script is:inline>
        let elements = document.getElementsByClassName("zoom");
        for (let i = 0; i < elements.length; i++) {
            elements[i].addEventListener("click", function () {
                document.getElementById("zoom-content").style.display = "block";
                document.getElementById("zoom-content").style.position =
                    "absolute";
            });
        }

        var map = L.map("map").setView([-41.136779, -71.353455], 9);

        L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
            maxZoom: 19,
            attribution:
                '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
        }).addTo(map);

        /*let camino = [];
        function onMapClick(e) {
            L.marker(e.latlng).addTo(map);
            camino.push(e.latlng);
        }

        map.on("click", onMapClick);
        */

        function seleccionarCamino(latlng) {
            map.setView(latlng, 13);
        }

        obtenerCamino(439425725);

        function obtenerCamino(idCamino) {
            const wayId = "12345678"; // Reemplaza con el ID real del camino
            const overpassUrl = "/caminos.json";

            fetch(overpassUrl, {
                method: "GET",
                headers: {
                    "Content-Type": "text/plain",
                },
            })
                .then((response) => {
                    if (!response.ok) {
                        throw new Error(`Error: ${response.status}`);
                    }
                    return response.json();
                })
                .then((data) => {
                    data.caminos.forEach((camino) => {
                        L.polyline(camino).addTo(map);
                    });
                })
                .catch((error) => {
                    console.error("Error en la consulta:", error);
                });
        }
    </script>
</BaseLayout>
