<section class="prose">
  <p>
    Hola mi nombre es franco, soy estudiante en administracion de sistemas y
    desarrollador web. Aca podras encontrar de todo un poco, desde reflexiones,
    tutoriales, proyectos y casi cualquier cosa que se me ocurra compartir.
    Espero que algo de lo que suba aca te pueda ser de utilidad.
  </p>

  <h1 class="mt-8 mb-3 text-lg font-bold">
    Trabajo (me voy a hacer algo de publicidad)
  </h1>
  <hr />
  <h1>Eximo: 2022-Actualidad</h1>

  <ul>
    <li>
      Migre funcionalidades de una aplicación de visual basic a php con Yii2, e
      implementado nuevas, para el Instituto Provincial de Vivienda y Urbanismo
      (IPVU)/Agencia de Desarrollo Urbano Sustentable (ADUS) de Neuquén.
    </li>
    <li>
      Realice mantenimiento y mejoras continuas en proyectos en .net 4.8 en el
      producto iQuality para DLS sa, HIDROFRAC,SLGROUP, COAM, PRYSMIAN,
      PETREVEN, QUINTANA ENERGY, Y NOVA ENERGY.
    </li>
    <li>
      Durante 2024-2025 implementé un proyecto web y móvil para la carga de
      tarjetas TOP (Tarjetas de Observación Preventiva) y VG (Visitas
      Gerenciales) para PECOM, actualmente disponible en play store y app store,
      vg app store.
    </li>
    <li>
      Me incorporé también como desarrollador en un proyecto para CMIT
      trabajando con laravel y docker, implementado sobre un servidor linux.
    </li>
    <li>
      Actualmente me encuentro en el desarrollo de dos aplicaciones móviles para
      JMAC Services y FPI - Fall Protection International.
    </li>
  </ul>

  <h1>Tree Soft: 2021-2021</h1>
  <ul>
    <li>
      Me desempeñé como desarrollador web, dando soporte y mantenimiento a una plataforma para una empresa industrial (revestimiento de caños, tubing). Me encargue de la documentación del sistema y de su migración a un framework para mejor mantenimiento con express js y vue js.
    </li>
  </ul>
  <h1>Tallerista en varios proyectos de extancion en FAI-UNCO: 2017-2020</h1>
  <ul>
    <li>
      Realice tareas afines con el área de programación de dicha entidad, aprendiendo lo básico de la programación web y realizando algunas tareas sencillas para dicho ente. 
    </li>
  </ul>
</section>
