<section class="prose">
  <p>
    Hola mi nombre es franco, soy estudiante en administracion de sistemas y desarrollador web. Aca podras encontrar de todo un poco, 
    desde reflexiones, tutoriales, proyectos y casi cualquier cosa que se me ocurra compartir. Espero que algo de lo que suba aca te pueda ser de utilidad.
  </p>
 
  <h1 class="mt-8 mb-3 text-lg font-bold">Trabajo (me voy a hacer algo de publicidad)</h1>
  <ul>
    <li>
      <strong>Eximo: 2022-Actualidad </strong>
      <br/>
      Trabajo en aplicaciones en .NET 4.8, 6 y 8, tambien trabajamos con PHP y aplicaci칩nes m칩viles en .NET MAUI.
    </li>
    <li>
      <strong>Tree Soft: 2021-2021 </strong>
      <br/>
      Desarrollo de aplicaciones en vue.js, nodejs, y php.
    </li>
    <li>
      <strong>Tallerista en varios proyectos de extancion en FAI-UNCO: 2017-2020 </strong>
      <br/>
      Participe como Tallerista Vocaciones TIC, Vocaciones TIC Itinerante, Ferias de ciencias, etc. Ense침abamos a armar aplicaciones moviles con app inventor.
      Fue una linda experiencia en la ense침anza. 
    </li>
  </ul>
</section>
